/* Variables */
:root {
  --black: #040605;
  --white: #f5f7f6;
  --blue-white: #e1e7e8;
  --pink: #fd588a;
  --tangerine: #f86a6c;
}

/* Global Styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, sans-serif;
  background: linear-gradient(45deg, var(--tangerine), var(--pink));
  margin: 0;
  padding: 0;
}

main {
  max-width: 1020px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Title Bar */
.title-bar {
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

/* Sidebar */
.calendar__sidebar {
  background: linear-gradient(120deg, var(--blue-white), var(--white));
  padding: 1rem;
}

/* Calendar Days */
.calendar__days {
  display: flex;
  flex-direction: column;
}
